.container{
    /* display: flex; */
    align-items: center;
    margin: 20%;
    background-color:rgb(202, 17, 17)
    ;
}

.options{
    font-size: inherit;
}

.completeImg{
    width: 100%;
}

#startScreen{
    display: block;
}

#questCont{
    display: none;
}

#resultsCont{
    display: none;
}

