.container{
    /* display: flex; */
    align-items: center;
    margin: 20%;
    background-color:rgb(202, 17, 17)
    ;
}

.options{
    font-size: inherit;
}

.completeImg{
    display: flexbox;
}

.questCont{
    display: block;
}

.resultsCont{
    display: block;
}